.todo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
}
body{
    background-color: aqua;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
